<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/text.css" >
                <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/web.js"> </script>

    
    </head>
    <body>

        <h1> INDIAN INSTITUTE OF INFORMATION TECHNOLOGY DESIGN AND MANUFACTURING ,KANCHEEPURAM </h1>
        <p class="a"> <img src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/iitdm-ka.jpg" alt="iiitdm-logo" height="200"> ALUMNI ASSOCIATION</p>
        <div class="topnav">
        <a class="active" href="http://www.iiitdm.ac.in/">ABOUT US</a>
        <a href="#news">MEET YOUR ALUMNI</a>
        <a href="#contact">FEATURED ALUMNI</a>
        <a href="#about">ALUMNI FUND</a>
        <a href="#members">MEMBERS </a>
        <a href="#alumni assist">ALUMNI ASSIST</a>
        <a href="/register">REGISTRATION</a>
        <a href="/login" >LOGIN</a>
        </div>
                <div class="3">
                <div class="card1">
                    <h2> NEWSROOM </h2>
                    <p ><img class="fac" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/fac1.jpg" alt="facultyimg">
                            Dr.Shahul Hamid Khan filed Patent titled " Iot Enabled Hydraulic Controlled..." is published by Intellectual Property</p>
                        
                    <p> <a href="http://iiitdm.ac.in/Research/Funded_Project.php"><img class="fac" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/fac2.jpg"></a> 
                        Dr.Vijay Kumar.k and Dr.Damodharan P have received research grant (Rs 27.49lacs) from DST</p>
                        
                    <p>  <a href="http://iiitdm.ac.in/Research/Funded_Project.php"><img class="fac" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/fac3.jpg"></a> 
                        Dr.Premkumar K and Dr. Prerna Saxena have received research grant (Rs 82.84lacs) from DST-SERB Core Research Grant (CRG)</p>
                        
                    <p> <a href="http://iiitdm.ac.in/Research/Funded_Project.php"><img  class="fac" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/fac4.jpg"></a>  
                        Dr.Nachiketa Mishra has received research grant from DST-SERB for fast solvers for the largest linear systems and their convergence</p>
                        
                    <p> <img class="fac" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/fac5.jpg">  
                        Dr.B.Chitti Babu has been selected for "Young Systems Scientist Award 2019" sponsored Systems Society of India(SSI)</p>
                </div>
                <div class="card2">
                    <h3> Connect with your classmates on your alumni portal </h3>
                    <li> Create your Profile </li><br>
                    <li> Browse members by Company Industry and Location</li><br>
                    <li> Post Jobs and Internships</li><br>
                    <li> Share Memories</li><br>
                    <li> Exchange Opportunities and lot more</li><br><br><br>
                    <button class="register"> REGISTER </button>
                </div>
                </div>
                <div class="4">
                <div class="card3">
                    <h2> ANNOUNCEMENTS </h2>
                    <p> <a href="http://iiitdm.ac.in/old/Rec_2001/"><img class="ancmnt" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/announcement.jpg"></a>  
                        Corrigendum to faculty requirement<p>
                    
                        <p> <a href="http://iiitdm.ac.in/img/Others/02-%20Precautionary%20instructions%20towards%20spread%20of%20COVID%2019.jpeg"><img class="ancmnt" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/announcement.jpg"></a> 
                            Important circular: precaautional instructions to COVID-19 </p>
                    
                        <p> <a href="http://iiitdm.ac.in/img/Phd_Selection_List/Selected_Candidates_for_PhD_Admission_Jan_2020_Session.pdf"><img class="ancmnt" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/announcement.jpg"></a>  
                            List of provisionally selected candidates for PhD programme</p>

                </div>
                <div class="card4">
                    <img class="clnd" src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/calendar1.jpg" alt="calendar">
                    <h4> CURRENT EVENTS</h4>
                    <fieldset>
                    <p><a href="http://iiitdm.ac.in/rosma2020/">RoSMa2020 (2nd Inernational Conference on Robotics and Smari Manufacturing, 16-19 Dec.2020) </a> </p>
                    </fieldset>
                    <fieldset>
                        <p> <a href="http://iiitdm.ac.in/img/Events/IIITDM_SW2020.pdf"> 
                            One Day Symposium on Shock Wavesin Science, Engineering and Medicine (29 February 2020) </a> </p>
                    </fieldset>                    
                </div>
                </div>
        
                <div>
                    <p class="footer"> We use Cookies to track page analytics and to keep you logged in. By continuing to use this website, you agree to our use of cookies as explained in our Cookie Policy. Please read our Cookie Policy for more information on how we use Cookies and process to disable them.</p>
                </div>

    </body>

</html>